/* COLORS */

:root {
  --bodyBg: #212936;
  --inputBg2: hsla(217, 23%, 25%, 0.5) !important;
  --inputBg: hsla(0, 0%, 50%, 0.1);
  --colorPrimary: #2b76d2;
  --colorSecondary: #56657f;
  --textColor: hsl(0, 0%, 93%);
  --borderColor: hsla(0, 0%, 93%, 0.5);
  /* --borderColor: #707070; */
  /* --activeColor: hsla(0, 100%, 50%, 0.5); */
  --activeColor: hsla(357, 76%, 32%, 1);
}

/* ELEMENTS */

* {
  box-sizing: border-box !important;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Arial", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif !important;
}
*:focus {
  outline: none !important;
}
body {
  background: var(--bodyBg);
  font-weight: 400;
  line-height: 1.65;
  color: var(--textColor);
  font-size: 14px;
  z-index: -99;
}

p {
  margin: 1.15rem 0;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small,
.text_small {
  font-size: 0.889em;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #212936 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.react-datepicker {
  background: var(--bodyBg) !important;
  color: var(--textColor) !important;
  border: 1px solid var(--borderColor) !important;
}

.react-datepicker__input-container input[type="text"] {
  background: var(--inputBg);
  border: 1px solid var(--bodyBg) !important;
  border: 1px solid #56657f !important;
  color: var(--textColor);
  padding: 6px !important;
  width: 180px;
}

.react-datepicker__input-container:hover input[type="text"]:hover {
  border: 1px solid var(--borderColor) !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--textColor) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: var(--borderColor) !important;
}

.react-datepicker__header {
  background-color: var(--bodyBg) !important;
  border-bottom: 1px solid var(--borderColor) !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--textColor) !important;
}

.react-datepicker__day {
  border: 1px solid transparent;
  border-radius: 1px !important;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
  border: 1px solid var(--textColor) !important;
  color: var(--bodyBg) !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: var(--textColor) !important;
  color: var(--bodyBg) !important;
}
.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: var(--activeColor) !important;
  border: 1px solid var(--textColor) !important;
  color: var(--textColor) !important;
  position: relative;
}
.react-datepicker__day--selected:hover {
  color: var(--textColor) !important;
}
.react-datepicker__day--selected::before {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.7rem;
  content: "DUE";
  position: absolute;
  left: -1px;
  top: -7px;
  background: var(--textColor);
  color: var(--activeColor);
  width: 100%;
  padding: 0 1px;
}

.react-datepicker__day--today {
  border: 1px solid var(--textColor) !important;
  position: relative;
}

.react-datepicker__day--today::before {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.725rem;
  content: "TODAY";
  position: absolute;
  left: -4px;
  top: -7px;
  background: var(--textColor);
  color: var(--bodyBg);
  width: auto;
  padding: 0 1px;
}

.react-datepicker__time-container .react-datepicker__time {
  background: var(--bodyBg) !important;
}

.react-datepicker__day--outside-month {
  color: var(--borderColor) !important;
}

.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input {
  width: auto !important;
}
.react-datepicker__close-icon {
  padding: 0 !important;
}
.react-datepicker__close-icon::after {
  font-size: 1.5rem !important;
  font-weight: 300;
  background-color: transparent !important;
  width: 25px !important;
  border-radius: 0 !important;
  color: var(--borderColor) !important;
  border-left: 1px solid #56657f;
}

.react-datepicker__close-icon:hover::after {
  /* background-color: var(--activeColor) !important; */
  font-weight: 600;
}

input[placeholder="mm/dd/yyyy hh:mm a"] {
  /* padding: 0.5rem 1rem 0.5rem 0.5rem !important; */
  margin-left: 0.5rem !important;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
  color: white !important;
  border: none !important;
}
.react-datepicker__month-container {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 0.5rem;
}

.react-datepicker__triangle::before {
  border-bottom-color: var(--borderColor) !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: var(--borderColor) !important;
}

:focus {
  outline-color: var(--textColor);
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -1px;
}

/* NAVIGATION ICONS */
/* .react-datepicker__day-names {
  margin-top: 1.5rem;
}
.react-datepicker__navigation {
  border: 1.45rem solid transparent !important;
}
.react-datepicker__navigation--previous {
  left: -1rem !important;
  border-right-color: var(--textColor) !important;
}
.react-datepicker__navigation--next {
  right: -1rem !important;
  border-left-color: var(--textColor) !important;
} */

.blink {
  /* opacity: 1; */
  animation: blinker 1s step-start infinite;
  animation-iteration-count: 5;
}

.no-show {
  opacity: 0;
}

.no-blink,
.show {
  opacity: 1;
}

@keyframes blinker {
  1% {
    opacitiy: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
